@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px;
    color: #A6ACAF;
}

body {
    background: #F0F3F4;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    height: 500px;
    width: 1050px;
    box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #884EA0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 20;
    transition: 0.5s;
}

.img {
    transform: translateY(-40px);
    padding: 40px;
    background: #F4F6F6;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img i {
    font-size: 45px;
    color: #884EA0;
}

#title {
    color: #F4F6F6;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#desc {
    transform: translateY(-25px);
}

.support {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.support i {
    margin-right: 10px;
}

.color {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 10%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 22;
}

#red {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #F1948A;
    margin-right: 10px;
}

#green {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #58D68D;
}

.sign_in {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #FBFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    transition: 0.5s;
}

.sign_in.active {
    opacity: 0;
    transform: translateX(-100%);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.sign_up {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #FBFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 10;
}

form p:last-child {
    text-transform: capitalize;
    position: absolute;
    text-align: center;
    width: 70%;
    bottom: 10px;
    margin-top: 80px;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 15px;
    color: #884EA0;
    border: 1px solid #884EA0;
    cursor: pointer;
    background: #F2F4F4;
}

input {
    padding: 12px 15px;
    width: 80%;
    margin: 10px;
    border: 1px solid #E5E7E9;
    background: none;
    outline: none;
}

input::placeholder {
    color: #A6ACAF;
}

input[type=email] {
    margin-top: 40px;
}

#email2 {
    margin-top: 70px;
}

.bottom {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.bottom p {
    text-transform: capitalize;
    font-size: 15px;
}

.bottom button {
    padding: 10px 25px;
    background: #9B59B6;
    color: #fff;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.5s;
}

.fa-angle-left::before {
    position: absolute;
    top: 40px;
    left: 75px;
    font-size: 45px;
    cursor: pointer;
}

#heading1 {
    position: absolute;
    top: 55px;
    left: 80px;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

#heading2 {
    position: absolute;
    top: 90px;
    left: 80px;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}